html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
article,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: black;
}

main {
  width: 100vw;
}

.center-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 2rem;
}
.title {
  padding: 1rem 0;
}
.container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60rem;
  height: 60rem;
  border: 3px solid gray;
  border-radius: 0.75rem;
}

.box {
  background-color: royalblue;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.box:hover {
  box-shadow: 0 0 5px 1px white;
}

.fizz {
  background-color: coral;
}
.fizz-text {
  color: coral;
}

.buzz {
  background-color: rgb(250, 250, 67);
}
.buzz-text {
  color: rgb(250, 250, 67);
}

.fizzbuzz {
  background-color: deeppink;
}

.settings {
  width: 20rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid gray;
  border-radius: 0.75rem;
}
.label-set {
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.25rem;
}

input {
  width: 2rem;
  height: 1rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border-radius: 0.25rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.btn {
  height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: coral;
  transition: linear 0.1s;
  box-shadow: 0 0 2px 2px slategrey;
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgb(250, 250, 67);
  cursor: pointer;
}
