html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
input,
article,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* HTML5 display-role reset for older browsers */
article,
header,
menu,
nav,
section {
  display: block;
}
:root {
  font-size: 10px;
}
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

main {
  width: 60rem;
}

.center-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}
.title {
  padding: 2rem 0;
}
header {
  width: 100%;
}
.settings {
  width: 100%;
  padding: 2rem 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 2px 2px deeppink;

  border-radius: 0.75rem;
}

input {
  width: 8rem;
  height: 6rem;
  font-size: 6rem;
  background-color: black;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
}

input:focus {
  outline-color: deeppink;
  box-shadow: 0 0 2px 2px deeppink;
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.btn {
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: black;
  color: deeppink;
  transition: ease 0.2s;
  box-shadow: 0 0 2px 2px deeppink;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  outline-color: deeppink;
  box-shadow: 0 0 2px 2px deeppink;
  outline: none;
}

.btn:hover {
  transform: scale(1.1);
  background-color: deeppink;
  color: black;
  cursor: pointer;
}

.autoplay {
  background-color: deeppink;
  color: black;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.plus-min {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0.5rem;
  vertical-align: baseline;
  font-size: 2rem;
  font-weight: 700;
}
.grid {
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60rem;
  height: 60rem;
  box-shadow: 0 0 2px 2px deeppink;
  border-radius: 0.75rem;
}
.box {
  background-color: royalblue;
  color: black;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: linear 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.F {
  background-color: coral;
  box-shadow: 0 0 5px 1px coral;
}
.F-text {
  color: coral;
}

.B {
  background-color: rgb(250, 250, 67);
  box-shadow: 0 0 5px 1px rgb(250, 250, 67);
}
.B-text {
  color: rgb(250, 250, 67);
}
.F-text,
.B-text {
  text-align: center;
}
label.F-text,
label.B-text {
  font-size: 3rem;
}

.FB {
  background-color: deeppink;
  box-shadow: 0 0 5px 1px deeppink;
}
.FB-text {
  color: deeppink;
}
